/*banner*/
.navbar{
  display: flex;
  align-items: center;
}

.navbar-items{
  width: 100vh;
}

/*register*/
.form-register{
  align-items: center;
  justify-content: center;

}

.form-items{
  width: 200px;
  height: 260px;
  border: 1px solid #000;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}



.btn{
  width: 100px;
}

/* Login*/

.section{
  text-align: center;
}

.section-items{
  width: 200px;
  height: 260px;
  border: 1px solid #000;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}



.btn{
  width: 100px;
}

/*products*/

.product-img{
  width: 40vh;
  display: flex;
  align-items: center;
}



/*profile*/

.icon-profile{
  width: 15vh;
}